form.in4ml,
form.in4ml fieldset
{
	border: none;
	padding: 0px;
	margin: 0px;
}
form.in4ml label{
	display: block;
	width: 200px;
	float: left;
}
form.in4ml div.notes{
	margin-left: 200px;
	clear: both;
	display: none;
}
form.in4ml div.container.has-notes div.notes,
form.in4ml div.container.has-notes div.container.has-notes div.notes{
	display: block;
}
form.in4ml div.container.has-notes div.container div.notes{
	display: none;
}
form.in4ml span.prefix{
	display: none;
}
form.in4ml div.container.has-prefix span.prefix{
	display: block;
}
form.in4ml span.suffix{
	display: none;
}
form.in4ml div.container.has-suffix span.suffix{
	display: block;
}
form.in4ml div.container,
form.in4ml input.submit
{
	display: block;
	clear: both;
	position: relative;
}
form.in4ml div.container.checkboxmultiple div.inlinelabel label{
	display: none;
}
form.in4ml div.container label{
	display: none;
}
form.in4ml div.container.has-label label{
	display: block;
}

form.in4ml div.container.radio label.element,
form.in4ml div.container.checkbox label.element,
form.in4ml div.container.checkboxmultiple.inlinelabel label.element
{
	display: block;
	width: auto;
	float: left;
}
form.in4ml div.container.radio input.radiobutton,
form.in4ml div.container.checkbox input.checkbox,
form.in4ml div.container.checkboxmultiple input.checkbox
{
	float: left;
}
form.in4ml div.container div.error,
form.in4ml div.error{
	display: none;
}
form.in4ml div.container.invalid div.error,
form.in4ml.invalid div.error
{
	border: 1px solid red;
	background: #fee;
	display: block;
	clear: both;
	margin: 5px 5px 10px 5px;
}
form.in4ml div.error ul{
	list-style-type: none;
	margin: 3px;
	padding: 0px;
}
form.in4ml div.error ul li{
	padding: 0px;
}
form.in4ml fieldset.group
{
	border: none;
}
form.in4ml div.fieldset
{
	position: relative;
	border-top: 1px solid #ccc;
	padding: 10px 0px;
	margin: 30px 0px;
	clear: both;
}
form.in4ml div.fieldset.no-label{
	margin-top: 0px;
	border: 0;
}
form.in4ml fieldset.set legend{
	padding: 0px;
	margin: 0px;
}
form.in4ml div.fieldset.set fieldset legend span
{
	position: absolute;
	top: -20px;
	clear: both;
	display: block;
	padding: 0px;
	margin: 0px;
	font-weight:bold;
	color: black;
	*margin-left: -8px; /*FIXME: move this IE style sheet?*/
}

form.in4ml input.text,
form.in4ml input.email,
form.in4ml input.password
{
	width:200px;
}
form.in4ml select{
	width:206px;
}

form.in4ml div.group div.container{
	display: inline;
	clear: none;
	float: left;
}

form.in4ml div.group div.container label{
	display: inline;
	width: auto;
}
form.in4ml div.group input.text,
form.in4ml div.group input.email,
form.in4ml div.group input.password,
form.in4ml div.group select
{
	width:auto;
}
form.in4ml div.invalid label{
	font-weight: bold;
}
form.in4ml input.date{
	float:left;
}
form.in4ml button.ui-datepicker-trigger{
	border: 0px;
	background: none;
	padding: 0px;
	margin: 0px;
}

form.in4ml div.container.captcha img.captcha{
	display:block;
	border:1px solid #999999;
}
form.in4ml div.container.captcha div.elements{
	float:left;
}

form.in4ml .clearfix:after {
	content: ".";
	display: block;
	clear: both;
	visibility: hidden;
	line-height: 0;
	height: 0;
}

form.in4ml .clearfix {
	display: inline-block;
}

html[xmlns] form.in4ml .clearfix {
	display: block;
}

form.in4ml .file-upload-advanced{
	padding: 2px;
	margin-bottom: 10px;
	background-color: #eee;
}
form.in4ml .file-upload-advanced .file-select-button{
	border: 1px solid #ccc;
	padding: 10px;
	display: inline-block;
	background-color: white;
}
form.in4ml .file-upload-advanced .items_container{
	background-color: white;
}
form.in4ml .file-upload-advanced .items_container p{
	margin: 0;
	padding: 5px;
}
form.in4ml .file-upload-advanced ul.items{
	padding: 0;
}
form.in4ml .file-upload-advanced ul.items li{
	padding: 7px 10px;
	position: relative;
}
form.in4ml .file-upload-advanced ul.items li:hover{
	background-color: #f6f6ff;
}
form.in4ml .file-upload-advanced ul.items li .button.remove{
	border: 1px solid #ddd;
	padding: 4px 10px;
	margin: 0;
	position: absolute;
	right: 2px;
	top: 2px;
}
form.in4ml .file-upload-advanced.in-progress ul.items li .button.remove{
	display: none;
}
form.in4ml .file-upload-advanced .progress-outer{
	background-color: #eee;
	height: 15px;
}
form.in4ml .file-upload-advanced .progress .bar{
	background-color: green;
	height: 15px;
	width: 0;
}

* html form.in4ml .clearfix {
	height: 1%;
}
